body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(13, 65, 110);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container{
  width: 800px;
  margin: 0 auto;
  text-align: center;
}

ul{
  list-style: none;
  padding: 0;
}

.d_flex{
  display: flex;
}

.jc_between{
  justify-content: space-between;
}

.jc_center{
  justify-content: center;
}

.margin_10{
  margin: 0 10px;
}

.timer_1{
  font-size: 42px;
  font-weight: 600;
  color: rgb(11, 127, 131);
}

.fd_column{
  flex-direction: column;
}

form.add-list input{
  outline: none; 
}

form.add-list label input{
  margin-left: 5px;
  margin-right: 5px;
}

form.add-list input[type="submit"]{
  margin-right: 5px;
}

.timer-box{
  width: 50px;
}

.list-item{
  border: 1px solid rgb(11, 127, 131);
  position: relative;
  border-radius: 10px;
  margin: 8px 0;
  font-size: 24px;
}

.del-item{
  position: absolute;
  right: 10px;
  width: 20px;
  height: 20px;
  bottom: 50%;
  transform: translate(0, 50%);  
  background-image: url(../src/img/close.svg);
  background-repeat: no-repeat;
  cursor: pointer;
}

button, input[type="submit"]{
  border: 1px solid rgb(11, 127, 131);
  background-color: transparent;
  cursor: pointer;
  margin: 0 5px;
  padding: 5px 10px;
  border-radius: 5px;
}

.all-input{
  border: 1px solid rgb(11, 127, 131);
  height: 25px;
}