body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(13, 65, 110);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  width: 800px;
  margin: 0 auto;
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
}

.d_flex {
  display: flex;
}

.jc_between {
  justify-content: space-between;
}

.jc_center {
  justify-content: center;
}

.fd_column {
  flex-direction: column;
}

form.add-list input {
  outline: none;
}

form.add-list label input {
  margin-left: 5px;
  margin-right: 5px;
}

form.add-list input[type="submit"] {
  margin-right: 5px;
}

/* Timer */

.delimitre {
  margin: 0 5px;
}

.timer_1 {
  font-size: 42px;
  font-weight: 600;
  color: rgb(11, 127, 131);
}

.time-container {
  position: relative;
  height: 90px;
  width: 90px;
  border-radius: 25px;
}

.timer-box {
  /* width: 50px; */
  /* position: absolute; */
  font-size: 60px;
  font-weight: 100;
  line-height: 54px;
}

/* .timer-box:first-child{
  top: 5px;
  left: 10px;  
}

.timer-box:last-child{
  bottom: 5px;
  right: 10px; 
  color: rgb(131, 11, 81);
} */

/* List */

.list-item {
  border: 1px solid rgb(11, 127, 131);
  position: relative;
  border-radius: 10px;
  margin: 8px 0;
  font-size: 18px;
  padding: 6px 30px 6px 10px;
  box-sizing: border-box;
  max-width: 300px;
  word-wrap:break-word;
  text-align: left;
}

.del-item {
  position: absolute; 
  width: 17px;
  height: 17px;
  top: 5px;
  right: 5px; 
  background-image: url(../src/img/close.svg);
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  background-color: rgb(11, 127, 131);
  border-radius: 6px;
}

button,
input[type="submit"] {
  border: 1px solid rgb(11, 127, 131);
  background-color: transparent;
  cursor: pointer;
  margin: 0 5px;
  padding: 5px 10px;
  border-radius: 5px;
}

.all-input {
  border: 1px solid rgb(11, 127, 131);
  height: 25px;
}